@model Vision.Models.Quote

@{
    ViewData["Title"] = "Quotes";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


@*<div class="py-4">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form autocomplete="off"  method="post" asp-action="Quote">
                        <h3 class="col-12 text-success text-center py-4">
                                <strong>Register A Quote</strong>
                            
                        </h3>
                        <hr />
                        <div class="py-2">
                            <input asp-for="Book.DepartFrom"  class="form-control" />
                            <span asp-validation-for="Book.DepartFrom" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Book.ArriveTo" type="email" class="form-control" />
                            <span asp-validation-for="Book.ArriveTo
                                  " class="text-danger"></span>
                        </div>
                        <div class="py-2 input-group">
                            <input asp-for="Book.Begin" type="text" placeholder="Phone Number" class="form-control" />
                            <span asp-validation-for="Book.Begin" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Book.End"  class="form-control" />
                            <span asp-validation-for="Book.End" class="text-danger"></span>
                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <input asp-for="Name" placeholder="State" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <input asp-for="Email" placeholder="Postal Code" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <textarea asp-for="Message"   class="form-control" ></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="py-2">
                            <button type="submit" class="btn btn-success form-control">
                            Request A Quote</button>
                        </div>
                    </form>

                            
                </div>
            </div>
        </div>
    </div>
</div>*@


